
.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: orange;
}

.navbar {
    transition: all 0.4s ease;
}

#hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(/img/cover.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#hero h1 {
    color: orange;
}

section {
    padding-top: 80px;
    padding: 80px;
}

.btn {
    padding: 14px 32px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn-primary {
    color: black;
    background-color: rgb(255, 174, 0);
    border-color: rgb(255, 174, 0);
    border-radius: 100px;
}

.btn-primary:hover {
    color:rgb(255, 162, 0);
    background-color: black;
    border-color: black;
    border-radius: 100px;
}

.intro {
    margin-bottom: 50px;
}

.intro .divider {
    background-color: orange;
    height: 4px;
    width: 150px;
    margin: 0 auto;
}

.icon-box {
    width: 80px;
    height: 80px;
    background-color: orange;
    font-size: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    margin: 0 auto 24px auto;
}